<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<canvas id="go-board" width="585" height="585"></canvas>
<div id="agehama-area">
    アゲハマ : 黒 <span id="agehama-black">0</span> 白 <span id="agehama-white">0</span>
</div>
<div id="gate-control">
    <button id="start-as-black" type="button">黒番で開始</button>
    <button id="start-as-white" type="button">白番で開始</button>
    <button id="resigned-by-ai" type="button">勝ちました</button>
    <button id="resigned-by-player" type="button">負けました</button>
</div>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="js/go-board.js"></script>
<script src="js/agehama-ui.js"></script>
<script src="js/game-control-ui.js"></script>
<script src="js/go-board-status.js"></script>
<script src="js/go-board-operator.js"></script>
<script src="js/main.js"></script>
</body>
</html>
